* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  padding: 21px 40px;
  border: 0px;
  border-radius: 48px;
  background-color: #423f6e;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.nav-whole {
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container {
  /* border: 1px solid tomato; */
  width: 80%;
  /* height: 500px; */
  margin: 0 auto;
  padding: 30px;
  padding: 30px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.nav-titles {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: flex-start;
}

.nav-titles > h3 {
  font-size: 34px;
  font-weight: 700;
}

.capital-title-style {
  color: #5b78f6;
}

.nav-links {
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
}

.nav-links > ul {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
}

.nav-links ul {
  list-style: none;
}
.nav-links li a {
  text-decoration: none;
  color: #3c354f;
}
.btn-follow {
  width: 200px;
  height: 40px;
  border: 0;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
}
.btn-follow ul {
  display: flex;
  justify-content: space-around;
}

/* Banner Styles */

.banner-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* align-items: center; */
}

.banner-content {
  background-image: url("./images/Group\ 14.png");
  background-repeat: no-repeat;
  background-size: cover;

  /* margin: 0 auto; */

  /* border: 1px solid red; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner-content > h3 {
  color: #0b0223;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}
.banner-content > ul {
  list-style: none;
}
.banner-content ul > li {
  color: #534c64;
  font-size: 15px;
  font-weight: 500;
}
.banner-content ul > li > i {
  margin-right: 10px;
}
.banner-content ul > li {
  text-align: left;
}
.btn-group {
  margin-top: 20px;
}

.banner-content > h1 {
  text-align: center;
  font-family: Work Sans;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  background: linear-gradient(180deg, #5b77f660 0%, #5b78f6 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-images {
  /* border: 1px solid blueviolet; */
}

.banner-images img {
  width: 80%;
}

.gamer-whole {
  background-color: #fbf7fd;
}
.gamer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 50px 0px;
}
.gamer-image {
  display: flex;
  justify-content: end;
}

.gamer-image img {
  width: 80%;
}
.gamer-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  color: #534c64;
}
.gamer-content > h3 {
  font-size: 40px;
  font-weight: 700;
  background: linear-gradient(180deg, #5b77f660 0%, #5b78f6 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gamer-content p {
  text-align: right;
  margin-top: 30px;
  margin-bottom: 20px;
}
.onlinegames-title {
  text-align: center;
  color: #0b0223;
  font-size: 48px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 20px;
}

.onlinegames-description {
  color: #534c64;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.og-items-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  margin: 0 auto;
  /* border: 1px solid red; */
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.og-items-container img {
  width: 100%;
}

/* fbehfwi */

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  max-width: 100%;
  height: auto;
}
.image-container i {
  margin-top: 150px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s;
}

.image-container:hover .overlay {
  opacity: 1;
  cursor: pointer;
  text-align: center;
  border: 2px solid rgba(65, 65, 128, 0.726);
  border-radius: 5px;
}

.play-button {
  padding: 20px;
  font-size: 30px;
}

.text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.play-left {
  text-align: right;
  width: 50%;
  margin-left: 150px;
}
.play-left h1 {
  font-size: 30px;
  font-weight: 700;
}

.play-left p {
  color: #534c64;
  font-size: 15px;
  font-weight: 400;
}

.play-instantly {
  margin-bottom: 100px;
  margin-top: 70px;
}
.play-instantly .play-right {
  position: relative;
}

.play-instantly .play-right .big-img {
  width: 400px;
  height: 450px;
}

.play-instantly .play-right .small-img {
  width: 168px;
  height: 200px;
  position: absolute;
  top: 289px;
  right: 603px;
}

.carrier-whole {
  background-color: #c1ccfc;
}
.carrier-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* justify-content: end; */
  /* align-items: end; */
  /* padding-bottom: 50px;
  padding-left: 50px;
  padding-top: 30px;  */
}

.carrier-content {
  width: 80%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* justify-content: end; */
  align-items: right;
  margin: 0 auto;
  /* text-align: center; */
  color: #fff;
}

.carrier-content h2 {
  font-size: 48px;
  font-weight: 700;
}

.carrier-content p {
  color: #fff;
  font-size: 13px;

  font-weight: 400;
  /* border: 1px solid red; */
}

.carrier-content ul {
  /* display: inline-block; */
  list-style: none;
}
.carrier-content ul li {
  margin-bottom: 10px;
}

.carrier-image img {
  width: 100%;
  /* height: 100%; */
}
.carrier-image {
  display: flex;
  justify-content: end;
  align-items: stretch;
}
.list-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  /* align-items: center; */
}
.list-container ul {
  justify-content: start;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
}
.list1 {
  justify-content: start;
  text-align: left;
}
.list2 {
  justify-content: end;
  text-align: right;
}

.btn-carrier {
  /* display: inline-flex; */
  padding: 21px 21px;
  /* align-items: center; */
  text-align: center;
  /* gap: 10px; */
  border-radius: 48px;
  background: #fff;
  width: 250px;
  margin-top: 30px;
  border: 0px;
  font-size: 16px;
  font-weight: 600;
  color: #4ec5f7;
}

/* .game-options-container {
  background: #fff9fc;
  display: grid;
  grid-template-columns: (9, 1fr);
} */

.game-option1,
.game-option2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}

.game-option1 img,
.game-option2 img {
  width: 30px;
  border-radius: 50px;
  margin-right: 10px;
}
.btn-option {
  border-radius: 50px;
  background: #fff;
  border: 0px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

.btn-option:hover {
  border: 1px solid #4ec5f7;
  color: #4ec5f7;
}

.footer {
  text-align: center;
  margin-top: 40px;
  background: #0b0223;
  color: white;
  padding: 60px 20px;
  align-items: center;
  /* width: 100%; */
}

.foot-header {
  /* display: block; */
  /* text-align: center; */
  display: flex;
  margin: 0 auto;

  font-size: 30px;
  font-weight: 700;
  align-items: center;
}

.footer img {
  height: 30px;
  width: 50px;
}

.footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 10px;
}

.footer-list li {
  list-style: none;
}

.footer-list li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 15px;
}

.footer .img-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.footer .img-group img {
  width: 30px;
}
#gray {
  color: rgba(255, 255, 255, 0.6);
}

.flex {
  display: flex;
}

/* efeefef */

@media screen and (max-width: 576px) {
  .nav-container {
    width: 100%;
    /* border: 1px solid blue; */
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
  }
  .nav-titles {
    margin: 0 auto;
  }
  .nav-links ul {
    justify-content: center;
  }

  .banner-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .gamer-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .og-items-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .carrier-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
